
body{
  background-color: #14062d;
}

.section {
  padding: 0 100px 0 100px;
}

.center-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bottom-cards {
  position: absolute;
  bottom: 0px;
  top:750px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ban-img {
  filter: blur(5px);
  opacity: 0.65;
}

.title-text {
  font-size: clamp(2rem, 4vw, 110px);
  background: -webkit-linear-gradient(#cc5ad8, #e8e5df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caption-text {
  font-size: 30px;
  color: #72c0e4;
}

.sub-text {
  font-size: 25px;
  color: #f5e8f5;
}

.main-btn {
  padding: 10px 20px;
  border-radius: 50px;
  border: unset;
}

.card-box {
  width: 300px;
  height: 300px;
  background: rgba(208, 90, 237, 0.25);
  box-shadow: 0 8px 32px 0 rgba(201, 150, 240, 0.218);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 25px;
}


.card-container {
	background-color: #340037;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
  padding-bottom: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card-container .round {
	border: 1px solid #bc0795;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #bc07aa;
	border: 1px solid #bc0795;
	border-radius: 3px;
	color: #f2f2f2;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #b007bc;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #472744;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}


.pointer {
  background-color: #5f0059;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  filter: blur(5px);
}

.lot-ball {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: 2px 8px #eb78da;
}

.gradient{
  background-image: url('https://static.vecteezy.com/system/resources/previews/023/204/842/non_2x/golden-confetti-falls-on-a-transparent-background-festival-and-party-element-confetti-illustration-golden-party-tinsel-frame-for-a-carnival-background-birthday-celebration-elements-free-png.png');
  background-size: cover;
}

.css-11qfo8z-MuiInputBase-root-MuiOutlinedInput-root {
  color: white !important;
}

.footer {
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(46, 3, 42);
  color: white;
  text-align: center;
  padding: 25px;
}

.bids-box{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: transparent;
  border:1.5px solid #7d0268;
  border-radius: 25px;
}

.bids-top{
  background-color: #eb78dc;
  width: 70px;
  height: 70px;
  position: absolute;
  top:-30px;
  left: -35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.filter-box {
  width: 450px;
  height: inherit;
  padding: 20px 25px;
  background-color: #5f004e;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: rgba(142, 59, 123, 0.35);
box-shadow: 0 8px 12px 0 rgba(135, 31, 105, 0.37);
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
}

.set-text input {
  color: #f8bfee !important;
}

.set-text label {
  color: #f8bfee !important;
}

.trend-bids {
  height: 100px;
  width: 100%;
  padding: 20px;
  background: rgba(198, 10, 219, 0.25);
box-shadow: 0 8px 32px 0 rgba(135, 31, 128, 0.37);
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}